<!-- Container #1 (see wireframe) -->
<md-content ng-controller="appController as app" layout='column' layout-fill>
        <md-toolbar layout="row" class="md-toolbar-tools">

                    <md-button ng-click="toggleSidenav('left')" hide-gt-md class="md-icon-button" aria-label="Settings" ng-show="app.isAuthed">
                        <ng-md-icon icon="menu"></ng-md-icon>
                    </md-button>
                    <h2>
                        <md-button ui-sref="main.app.home"> Link Manager</md-button>
                    </h2>

                    <md-button ng-href="/explore">Explore</md-button>

                    <span flex></span>
                    <md-button ng-show="!app.isAuthed" ui-sref="main.login">login</md-button>
                    <md-button ng-show="!app.isAuthed" class="md-raised" ui-sref="main.register">sign up</md-button>
                    <md-button ng-show="app.isAuthed" class="md-raised" ng-click="app.logout()">logout</md-button>


        </md-toolbar>

        <md-content id="content" layout='column'>
              <div ui-view></div>
        </md-content>

        <div>footer</div>
</md-content>
