<div ng-controller="demoController as demo" layout='column'>
    <div layout="row" layout-align="center center">
            <md-input-container flex class='linkInput'>
                <input ng-model="demo.searchOrAdd" type="text" placeholder="Search. To create new Link press Add button"/>
            </md-input-container>
            <md-button flex="10" type="text" style="text-align: center" ng-click="demo.addURL(demo.searchOrAdd)">Add link</md-button>
    </div>

    <md-list flex>
        <md-list-item id='lst_storedResources' ng-repeat="rsc in demo.resourceList" ng-click="rsc.isExpanded = !rsc.isExpanded">
            repeatMe
            <div id='lstitm_resource' layout="column" flex>
                <div layout="row">
                    <div flex="25">{{rsc.URL}}</div>
                    <div flex>{{rsc.Title}}</div>
                    <div flex="25">{{rsc.CreatedAt}}</div>
                </div>
                <div layout="row" class="md-list-item-text compact" ng-show="rsc.isExpanded">
                    <div layout="column" flex>
                        <div> Show or hide me</div>
                        <md-button> Show or hide me</md-button>
                        <div> Show or hide me</div>
                        <div> Show or hide me</div>
                    </div>
                </div>
            </div>
        </md-list-item>
    </md-list>
</div>