<!--<div ng-controller="linkController as lc" layout="column" layout-align="center center" layout-fill style="min-height: 500px">
    <div class="loginBox md-whiteframe-z1" layout="column">
        <md-toolbar ui-sref="main.app">
            <h2 class="md-toolbar-tools">
                Add new link
            </h2>
        </md-toolbar>
        <md-content class="md-padding" layot="column">
            <md-input-container class="md-block">
                <input ng-model="lc.URL" type="text" placeholder="URL e.g. http://www.google.com" />
            </md-input-container>
            <md-input-container class="md-block">
                <input ng-model="acc.password" type="password" placeholder="password" />
            </md-input-container>
            <div layout="row" layout-align="center center" style="padding-top: 20px;">
                <md-button class="md-raised md-primary" ng-click="acc.login()">+</md-button>
            </div>
        </md-content>
    </div>
</div>-->